</div><!-- /.container -->
</section>

<footer class="section footer-classic context-dark bg-image " style="background: #090a0c; margin-top: 7%" >
    
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4 ">
            <p class="pt-4"><i class="fas fa-angle-double-right"></i> This is a demo project showing some of the amazing places in Lagos</p>
            
          </div>
        </div>
        <div class="col-md-4 mt-4 ">
          <h5><i class="fas fa-phone-square "></i> Contacts</h5>
          <dl class="contact-list">
            
          </dl>
          
          <dl class="contact-list ">
            
            <dd><a href="tel:#">+2349050593015</a> 
           
          </dl>
        </div>
        <div class="col-md-4 col-xl-3 mt-4">
          <h5><i class="fas fa-envelope-square"></i> Email us</h5>
          <ul class="nav-list">
                <dl class="contact-list">
                
                <dd><a href="#">falola0021@gmail.com</a></dd>
              
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="https://www.facebook.com/falola2"><span class="icon mdi mdi-facebook"></span><span><i class="fab fa-facebook-square"></i>  Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.instagram.com/falolaadedayo"><span class="icon mdi mdi-instagram"></span><span><i class="fab fa-instagram"></i>  instagram</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.twitter.com/falola0021"><span class="icon mdi mdi-twitter"></span><span><i class="fab fa-twitter"></i>  twitter</span></a></div>
      <div class="col"><a class="social-inner" href="https://www.linkedin.com/in/falola-adedayo-nathaniel-7934a5141"><span class="icon mdi mdi-youtube-play"></span><span><i class="fab fa-linkedin"></i>  LinkedIn</span></a></div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>