<% include ./partials/header %>
<div class="row">
	<div class="col-md-12 mt-5" >
		<form class="form-signin" action="/forgot" method="POST">
			<h1 class="h3 mb-3 pt-5 font-weight-normal">Forgot Password</h1>
			
				<label for="email">Email</label>
				<input type="email" name="email" autofocus class="form-control">
			
				<input type="submit" class="btn btn-primary btn-block mb-5" value="Reset Password"  style="margin-top: 7% ; border-radius: 20px 20px 20px 20px;" >
			
		</form>
	</div>
	
</div>
<div class="pb-5"></div>
	
<% include ./partials/footer %>