
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin:  auto;
  margin-top: 3%;
  
  
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 5px;
  border-radius: 20px 20px 20px 20px;
}
.form-signin input[type="password"] {
    margin-bottom: 5px;
    border-radius: 20px 20px 20px 20px;
}

.form-signin input[type="avatar"] {
    margin-bottom: 5px;
  border-radius: 20px 20px 20px 20px;
  }
  .form-signin input[type="email"] {
    margin-bottom: 5px;
  border-radius: 20px 20px 20px 20px;
  }
  .form-signin input[type="number"] {
    margin-bottom: 5px;
  border-radius: 20px 20px 20px 20px;
  }
  


/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

.forgot{
margin-left: 37.5%
}
#searchButton{
 float: right;
 margin-top: 0.5%;
 margin-bottom: 0.5%;
 margin-left: 0%;
 
   }
   #search{
       color: rgb(165, 162, 162);
       
   }
   #searchbox{
    border:solid 0.1em  rgb(165, 162, 162);
    border-radius: 2em 2em 2em 2em;
    padding-left: 0%;
    padding-bottom: 1%;
    

}
   

 #viewPlace{
    float: right;
    font: bolder
}
#profilePicture{
border-radius: 50%;
margin-left: 16%;
  }
  #profileMail{
 margin-left: 22%;
  }
  #profileName{
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    color: rgb(127, 127, 245)
  }
  #profileCreatedby{
    margin-left: 28%;
    text-transform: initial;
    font-size: 2em;
    font-weight: bold;
    color: rgb(127, 127, 245)
  }


  .checked {
    color: orange;
}
  
  /* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
    background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
z-index: -1;
    
    
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;  
  line-height: 1.667; }

  /* index page
-------------------------------------------------- */
#text{
  margin-bottom: 7%;
  
  font-family: "Playfair Display", serif;
  
   
  background: rgba(0,0,0,0.5);
    
  }
  
  .fab{
    font-size: 20px;
  }
  .fas{
    font-size: 20px;
  }

  .context-dark, .bg-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 3px;
    padding-bottom: 0px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(253, 253, 253, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}





#zoom {
 
  
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

#zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 

